In [16]:
from functions import *
### Note: There is a minor error in functions.py. (about the number of article limit for Bing) I'll fix it ASAP and remove this note

### Importing queries

In [20]:
import pandas as pd

# read the excel file
excel_data = pd.read_excel('PIMS Sample Prompts.xlsx')

queries = []
for index, row in excel_data.iterrows():
    # Process each row
    queries.append(row['Prompt'])
    
queries = queries[:10]

### Compare the number of results from Google, Yahoo, Bing for the first 10 queries from the excel file

In [18]:
google_search = []
yahoo_search = []
bing_search = []

def count_result(search_results):
    count = 0
    for index, result in enumerate(search_results, start=1):
        count += 1
    return count

In [19]:
ind = 0
for query in queries:
    google_search += [scrape_google_news(query)]
    yahoo_search += [scrape_yahoo_news(query)]
    bing_search += [scrape_bing_news(query)]
    ind += 1
    print("Done the query", ind)

https://www.bing.com/news/search?q=Vessel caught misreporting catch amount
Done the query 1
https://www.bing.com/news/search?q=Vessel caught falsifying fishing logs
Done the query 2
https://www.bing.com/news/search?q=Vessel caught with incorrect catch reports
Done the query 3
https://www.bing.com/news/search?q=Vessel caught underreporting catch in North Atlantic
Done the query 4
https://www.bing.com/news/search?q=Vessel caught misreporting haddock catch
Done the query 5
https://www.bing.com/news/search?q=Vessel caught with inaccurate fish size records
Done the query 6
https://www.bing.com/news/search?q=Vessel caught underreporting catch near protected area
Done the query 7
https://www.bing.com/news/search?q=Vessel caught misreporting tuna catch quantities
Done the query 8
https://www.bing.com/news/search?q=Vessel caught with unrecorded fish species
Done the query 9
https://www.bing.com/news/search?q=Vessel caught bypassing quota system
Done the query 10
https://www.bing.com/news/search?q=Vessel caught with illegal catch documentation
Done the query 11
https://www.bing.com/news/search?q=Vessel caught underreporting catch during inspection
Done the query 12
https://www.bing.com/news/search?q=Vessel caught using banned fishing gear
Done the query 13
https://www.bing.com/news/search?q=Vessel caught with hidden compartments for fish
Done the query 14
https://www.bing.com/news/search?q=Vessel caught misreporting catch to evade taxes
Done the query 15
https://www.bing.com/news/search?q=Vessel caught underreporting salmon catch
Done the query 16
https://www.bing.com/news/search?q=Vessel caught with manipulated scales
Done the query 17
https://www.bing.com/news/search?q=Vessel caught misreporting bluefin tuna catch
Done the query 18
https://www.bing.com/news/search?q=Vessel caught exceeding catch limits
Done the query 19
https://www.bing.com/news/search?q=Vessel caught with unregistered catch
Done the query 20

In [21]:
#DataFrame for number of results from each query


google_number_of_results = []
yahoo_number_of_results = []
bing_number_of_results = []


for i in range(len(queries)):
    google_number_of_results.append(count_result(google_search[i]))
    yahoo_number_of_results.append(count_result(yahoo_search[i]))
    bing_number_of_results.append(count_result(bing_search[i]))
    
    
#print("Google found", google_number_of_results, "articles.")
#print("Yahoo found", yahoo_number_of_results, "articles.")
#print("Bing found", bing_number_of_results, "articles.")

search_stats = pd.DataFrame({'Query': queries, 'Google': google_number_of_results, 'Yahoo': yahoo_number_of_results, 'Bing': bing_number_of_results})

search_stats.head(20)

                                               Query  Google  Yahoo  Bing
0            Vessel caught misreporting catch amount      10      0     8
1              Vessel caught falsifying fishing logs      10      0    10
2         Vessel caught with incorrect catch reports      10      6     8
3  Vessel caught underreporting catch in North At...      10      0    10
4           Vessel caught misreporting haddock catch       2      0    10
5    Vessel caught with inaccurate fish size records      10      0    10
6  Vessel caught underreporting catch near protec...      10      0    10
7   Vessel caught misreporting tuna catch quantities      10      0     7
8         Vessel caught with unrecorded fish species      10      0     9
9               Vessel caught bypassing quota system       5      0    10

### Since Bing shows the most articles from search, Bing is recommended if you want more results.

### With the same data, let's compare the novelty of articles

#### Computing the average days for each engine

In [6]:
# Set the date words:
from datetime import datetime

hour = ['hour', 'hours']
day = ['day', 'days']
week = ['week', 'weeks']
month = ['month', 'months']
year = ['year', 'years']
# consider 1 week = 7 days, 1 month = 30 days, 1 year = 365 days for convenience

def convert_day(text):
    # In some cases, dates are given as YYYY-MM-DD
    pattern = r'^\d{4}-\d{2}-\d{2}$'
    if re.match(pattern, text):
        date = datetime.strptime(text, "%Y-%M-%d")
        today = datetime.combine(date.today(), datetime.min.time())
        days = str(today - date).split()
        return int(days[0])
    txtlist = text.split()
    if txtlist[1] in ['hour', 'hours']:
        return 1
    if txtlist[1] in ['day', 'days']:
        return int(txtlist[0])
    if txtlist[1] in ['week', 'weeks']:
        return int(txtlist[0])*7
    if txtlist[1] in ['month', 'months']:
        return int(txtlist[0])*30
    if txtlist[1] in ['year', 'years']:
        return int(txtlist[0])*365

In [7]:
# Computing Google average
googledays = 0 
google_days_list = []

for search_result in google_search:
    tmp_list = []
    for index, result in enumerate(search_result, start=1):
        tmp = convert_day(result['date'])
        googledays += tmp
        tmp_list.append(tmp)
    google_days_list.append(tmp_list)

google_average_days = googledays/len(google_search)

In [8]:
# Computing Yahoo average
yahoodays = 0 
yahoo_days_list = []

for search_result in yahoo_search:
    tmp_list = []
    for index, result in enumerate(search_result, start=1):
        tmp = convert_day(result['date'])
        yahoodays += tmp
        tmp_list.append(tmp)
    yahoo_days_list.append(tmp_list)

yahoo_average_days = yahoodays/len(yahoo_search)

In [9]:
# Computing Bing average
bingdays = 0 
bing_days_list = []

for search_result in bing_search:
    tmp_list = []
    for index, result in enumerate(search_result, start=1):
        tmp = convert_day(result['date'])
        bingdays += tmp
        tmp_list.append(tmp)
    bing_days_list.append(tmp_list)

bing_average_days = bingdays/len(bing_search)

In [10]:
#print(google_average_days, yahoo_average_days, bing_average_days)

search_stats['Google days'] = google_days_list
search_stats['Yahoo days'] = yahoo_days_list
search_stats['Bing days'] = bing_days_list

search_stats.head(20)

,Query,Google,Yahoo,Bing,Google days,Yahoo days,Bing days
0,Vessel caught misreporting catch amount,10,0,0,"[14, 30, 270, 210, 300, 60, 540, 960, 1530, 330]",[],[]
1,Vessel caught falsifying fishing logs,10,0,10,"[240, 180, 180, 90, 90, 270, 240, 360, 240, 1]",[],"[168, 1, 11, 143, 165, 150, 165, 166, 154, 166]"
2,Vessel caught with incorrect catch reports,10,6,8,"[60, 240, 240, 150, 30, 60, 960, 360, 120, 240]","[360, 330, 90, 365, 730, 30]","[1, 2, 12, 8, 3, 12, 12, 12]"
3,Vessel caught underreporting catch in North At...,10,0,10,"[360, 1770, 3030, 600, 2250, 450, 3030, 4410, ...",[],"[1, 2, 150, 148, 9, 142, 166, 3, 12, 2]"
4,Vessel caught misreporting haddock catch,2,0,10,"[1320, 600]",[],"[150, 143, 165, 1986, 156, 509, 166, 5634, 892..."
5,Vessel caught with inaccurate fish size records,10,0,10,"[3, 210, 270, 210, 960, 270, 930, 690, 2490, 390]",[],"[2716, 1260, 4, 896, 2, 1627, 3, 1260, 171, 142]"
6,Vessel caught underreporting catch near protec...,10,0,10,"[90, 60, 60, 30, 900, 1470, 1080, 570, 3570, 3...",[],"[150, 4, 166, 170, 165, 143, 12, 154, 145, 512]"
7,Vessel caught misreporting tuna catch quantities,10,0,7,"[2700, 960, 450, 1950, 4890, 840, 1290, 960, 4...",[],"[147, 886, 6, 4, 3, 2362, 901]"
8,Vessel caught with unrecorded fish species,10,0,9,"[7, 60, 300, 180, 210, 360, 360, 30, 360, 720]",[],"[1260, 1264, 885, 1, 3, 8, 12, 143, 8]"
9,Vessel caught bypassing quota system,5,0,1,"[14, 330, 5040, 2910, 1650]",[],[4]
10,Vessel caught with illegal catch documentation,10,2,10,"[210, 240, 210, 90, 30, 300, 90, 360, 1530, 30]","[210, 365]","[8, 12, 2, 2, 12, 11, 4, 13, 8, 8]"
11,Vessel caught underreporting catch during insp...,10,1,10,"[14, 510, 390, 450, 660, 450, 2520, 4440, 2280...",[730],"[12, 1260, 143, 166, 145, 8, 12, 167, 12, 12]"
12,Vessel caught using banned fishing gear,10,10,10,"[210, 90, 240, 360, 150, 780, 720, 1320, 90, 510]","[365, 365, 30, 365, 365, 365, 180, 730, 365, 240]","[165, 149, 150, 168, 165, 12, 11, 154, 151, 166]"
13,Vessel caught with hidden compartments for fish,9,3,10,"[7, 30, 300, 90, 2370, 600, 600, 150, 390]","[365, 120, 270]","[1260, 1256, 3819, 1969, 1608, 2716, 165, 3, 1..."
14,Vessel caught misreporting catch to evade taxes,1,0,10,[330],[],"[155, 1619, 168, 1603, 160, 515, 1, 149, 10, 145]"
15,Vessel caught underreporting salmon catch,10,0,10,"[360, 450, 450, 1710, 2040, 1800, 2580, 1650, ...",[],"[1, 1609, 4, 527, 875, 875, 143, 156, 1620, 2704]"
16,Vessel caught with manipulated scales,5,0,10,"[840, 1860, 4440, 1860, 450]",[],"[8, 3, 12, 13, 12, 8, 8, 8, 3, 8]"
17,Vessel caught misreporting bluefin tuna catch,10,0,8,"[1110, 4890, 270, 960, 4560, 450, 2700, 4410, ...",[],"[4, 6, 6, 7, 2, 11, 3, 8]"
18,Vessel caught exceeding catch limits,10,9,10,"[90, 90, 30, 60, 150, 60, 270, 960, 780, 690]","[365, 365, 90, 730, 365, 120, 120, 150, 330]","[145, 9, 12, 12, 12, 8, 12, 12, 12, 12]"
19,Vessel caught with unregistered catch,10,4,6,"[30, 300, 90, 300, 120, 60, 1560, 1710, 1830, ...","[2, 21, 730, 240]","[4, 4, 4, 12, 4, 4]"

In [112]:
### Novelty can be two things:
### 1. Newest
### 2. How new one article is compared to another